@using Labb.Features.Shared;
@using Labb.Features.Home;
@model ContentViewModel<HomePage>

<h1>This is home</h1>

@{
    var user = User.Claims.ToString();
    var user2 = User.Identity.IsAuthenticated;
}

<p>@user</p>
<p>@user2</p>